-# メニューリンク一覧
- contents = ["マイページ", "出品する", "出品した商品", "購入した商品", "発送元・お届け先住所変更", "クレジットカードの登録", "ログアウト"]
- links    = ["show", "", "", "", "", "card_index", "logout"]

.mypage-wrapper__contents__left
  - contents.each.with_index(0) do |content, i|
    = link_to links[i], class: "mypage-wrapper__contents__left__content" do
      = content
      = icon("fas", "chevron-right", class: "icon")