.footer
  .footer__nav
    %ul
      %li 
        %a{:href => "#"} プライバシーポリシー
      %li
        %a{:href => "#"} FURIMA利用規約
      %li
        %a{:href => "#"} 特定商取引に関する表記
  .footer__logo
    = link_to image_tag(src= "logo-white.png", class: "image-footer"),"#"
  .footer__text
    ©︎ FURIMA,Inc