.exhibition{
  background-color: #F5F5F5;
  &__top{
    .logo{
      display: block;
      margin: 0 auto;
      padding:40px 0;
    }
  }
  
  &__main{
    margin: 0 auto;
    width: 620px;
    background-color: white;
    padding: 40px;
    &__container{
      >input{
        @include form;
        margin-bottom: 28px;
      }
      >textarea{
        @include form;
        margin-bottom: 5px;
        height: 156px;
      }
      >select{
        @include form;
        margin-bottom: 18px;
      }
      >hr{
        color: $gray;
        margin:24px 0 38px;
        border: .7px solid;
      }
      >p{
        font-size: 10px;
        margin-bottom: 30px;
      }

      .box{
        display: flex;
        justify-content: space-between;
        margin: 36px 0;
        &__price{
          display: flex;
          #price{
            width:290px ;
          }
          >p{
            padding: 10px 5px 0 0;
            font-size: 5px;
          }
        }
      }

      &__topic{
        margin-bottom: 14px;
        font-weight: 600;
        >label{
          font-size: 10px;
        }
        >span{
          font-size: 10px;
          color: white;
          background-color: $image-color;
          padding: 1px 4px 2px;
        }
        &__category{
          margin-bottom: 14px;
          font-weight: 600;
          >label{
            font-size: 10px;
          }
          >span{
            font-size: 10px;
            color: white;
            background-color: $image-color;
            padding: 1px 4px 2px;
          }
        }
      }
      .exhibition__main__container__category__box--select{
        margin-bottom: 14px;
        height: 46px;
        width: 620px;
        font-weight: normal;
      }

      &__uploader{
        height: 140px;
        background-color: $gray;
        text-align: center;
        margin: 16px 0 46px 0;
        &__text{
          padding-top: 40px;
          >p{
            font-size: 9px;
          }
        }
      }

      &__letters{
        text-align: right;
        >p{
          font-size: .2rem;
          color: #888;
          margin-bottom: 30px;
        }
      }
    }

    &__btn{
      display: grid;
      margin: 0 auto;
      text-align: center;
      width: 360px;
      .do{
        @include btn;
        color: white;
        background-color: $image-color;
        &:hover{
          background-color: rgb(43, 105, 199);
        }
      }
      .suspense{
        @include btn;
        color: black;
        background-color: #cccccc;
        &:hover{
          background-color: #bfbfbf;
        }
        
      }
      .back{
        @include btn;
        color: $image-color;
        font-size: 8px;
        &:hover{
          @include link;
        }
      }
    }
    
    &__precaution{
      >p{
        font-size: 13px;
        padding-bottom: 10px;
      }
    }
  }
  
  &__footer{
    padding: 40px 0;
    &__poricy{
      display: flex;
      justify-content: center;
      >li{ 
        padding-right: 20px;
        >a{
          text-decoration: none;
          font-size: 9px;
          color: black;
          &:hover{
            @include link;
          } 
        }
      }
    }

    >img{
      display: block;
      margin: 30px auto 8px;
      }
    >p{
      font-size: 8px;
      text-align: center;
    }
  }

}


//image投稿欄のCSS
.dropzone-container{
  display: block;
  margin: 16px auto 0;
  display: flex;

  #preview , #preview2{
    display: flex;

    .img_view {
      width: 112px;
      margin: 0 15px 0px 0;

        img{
          width: 112px;
          height: 112px;
        }
      }

      .btn_wrapper {
        display: flex;
        text-align: center;

        .btn.delete {
          color: #00b0ff;
          width: 100%;
          height: 30px;
          line-height: 30px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  .dropzone-area {
    width: 620px;

    .dropzone-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 145px;
      cursor: pointer;

      p {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      .input_area {
        display: none;
      }
    }
  }
  .dropzone-area2{
    display: none;
    margin-bottom: 10px;
    width: 620px;

    .dropzone-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;

      p {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
      .input_area {
        display: none;
      }
    }
  }
}

#filebox {
  display: block;
  margin: 16px auto 0;
  display: flex;
  .prev-content {
    display: flex;
    position: relative;
    height: 150px;
    
    .preview-box {
      width: 120px;
      height: 150px;
      margin: 0 1px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 120px;
          height: 150px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        position: absolute;
        bottom: 0;
        cursor: pointer;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 20px;
          line-height: 20px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
          margin-right: 60px;
        }
        .delete-box {
          color: #00b0ff;
          width: 120px;
          height: 20px;
          line-height: 20px;
          background: #f5f5f5;
      
        }
      }
    }
  }
  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: calc(100% - 1px);
      height: 150px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
  .hidden-content {
    .hidden-field {
      display: none;
    }
    .hidden-checkbox {
      display: none;
    }
  }
}
         