// 変数定義

.main {
  position: relative;
  .main-icon {
    position: fixed;
    bottom: 32px;
    font-size: 22px;
    height: 160px;
    right: 32px;
    width: 160px;
    background-color: #3CCACE;
    border-radius: 50%;
    z-index: 2;
    &__form {
      width: 160px;
      height: 160px;
      padding-top: 32px;
      text-align: center;
      &__first {
        color: white;
      }
      &__second {
        color: white;
        font-size: 50px;
      }
    }
  }
}

.main-visual {
  background-image: image-url("bg-mainVisual-pict_pc.jpg");
  @include image;
  height: 600px;
  &__title {
    font-size: 60px;
    line-height: 1.2;
    padding-top: 15%;
    @include visual;
  }
  &__text {
    font-size: 18px;
    line-height: 1.77778;
    margin-top: 15px;
    @include visual;
  }
}

.main-reason {
  padding: 60px 20px;
  .main-title{
    @include title;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  .main-lists {
    @include flex;
    &__first {
      position: relative;
      &--number {
        @include number;
      }
    }
    &__second {
      position: relative;
      &--number {
        @include number;
      }
    }
    &__third {
      position: relative;
      &--number {
        @include number
      }
    }
    &__image {
      width: 300px;
      margin-bottom: 25px;
    }
    &__subtitle {
      color: #3CCACE;
      @include sub;
    }
    &__bold {
      @include sub;
    }
  }
}

.main-midle {
  background-image: image-url("bg-topMiddleDl-pict.jpg");
  @include image;
  height: 400px;
  &__title {
    @include midle;
    font-size: 27px;
    font-weight: bold;
    padding: 90px 0 25px 50px;
  }
  &__text {
    @include midle;
    padding-left: 50px;
    font-size: 18px;
  }
}

.main-keypoint {
  padding: 60px 20px;
  &__title {
    @include title;
    margin-bottom: 25px;
    padding-bottom: 15px;
  }
  &__lists {
    @include flex;
    &--image {
      width: 200px;
    }
    &--subtitle {
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

.main-categories {
  padding: 60px 20px;
  background-color: #f8f8f8;
  &__title {
    @include title;
  }
  &__subtitle {
    @include subtitle;
  }
  &__lists {
    @include flex;
    flex-wrap: wrap;
    width: 780px;
    margin: 26px auto;
    &__item, &__ladies, &__mens{
      display: grid;
      width: 220px;
      height: 245px;
      background-color: white;
      margin-bottom: 40px;
      img{
        width: 220px;
        height: 150px;
        object-fit: cover;
      }
      &__text{
        padding: 16px;
        p{
          color: black;
        }
      }

    }
    &--image {
      @include lists-image;
    }
  }
}

.main-brands {
  padding-bottom: 80px;
  background-color: #f8f8f8;
  &__title {
    @include title;
  }
  &__subtitle {
    @include subtitle;
  }
  &__lists {
    @include flex;
    width: 780px;
    margin: 26px auto;
    &--image {
      @include lists-image;
    }
  }
}
