-# ヘッダー
=render "view/header"


-# メイン
.confimation
  .confimation-main
    .confimation-main__page
      %h2.confimation-main__page__title 購入内容の確認
      .confimation-main__page__content
        .confimation-main__page__content__inner
          .confimation-main__page__content__inner__box
            .confimation-main__page__content__inner__box__image
              =image_tag "/assets/sample-image1.jpg",class:"image"
            .confimation-main__page__content__inner__box__item
              %p.item-name 盛りドレスワンピースです
              %p.item-price
                %span ¥600 
                %span (税込み)送料です
      .confimation-main__page__form
        %ul.confimation-main__page__form__price
          %li.confimation-main__page__form__price--pay 支払い金額
          %li.confimation-main__page__form__price--prices ¥600
        .confimation-main__page__form__point
          =icon("fas fa-check-square", class: "icon")
          %label.confimation-main__page__form__point__label ポイントを使用(所持ポイント:P0)
        .confimation-main__page__form__buy
          %h3.confimation-main__page__form__buy__pay 支払い方法
          =icon("fas fa-plus-circle", class: "icon")
          =link_to "登録してください" ,"#",class:"confimation-main__page__form__buy__link"
        .confimation-main__page__form__delivery
          %h3.confimation-main__page__form__delivery__address 配送先
          =icon("fas fa-plus-circle",class: "icon")
          =link_to "登録してください","#",class: "confimation-main__page__form__delivery__link"
        .confimation-main__page__form__submit
          =form_with url: "#"  do  |form| 
            =form.submit "購入する",class: "confimation-main__page__form__submit--btn"

            
-# フッター 
=render "view/footer"