// 変数定義
@mixin between {
  display: flex;
  justify-content: space-between;
}


.header-content {
  display: block;
  padding: 0 15%;
  .header-main{
    width: 100%;
    padding: 15px 0 0;
    position: relative;
    @include between;
    &__image{
      width: 150px;
    }
    &__search {
      &--field {
        margin-top: 5px;
        width: 500px;
        height: 30px;
        padding-right: 200px;
      }
      &--btn {
        font-size: 25px;
        text-decoration: none;
      }
    }
  }

  .header-nav {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;
    @include between;
    ul {
      display: flex;
      .header-nav-left {
        margin-right: 40px;
      }
      .header-nav-right{
        margin-right: 20px;
        &__btn {
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
}