// 変数定義

// トップページのヘッダーで使用
@mixin between {
  display: flex;
  justify-content: space-between;
}

// トップページのフッターで使用
@mixin footer_title {
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  color: #fff;
  text-align: center;
}

// トップページ画面で使用
@mixin number {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  background-color: #3CCACE;
  color: #fff;
}

@mixin visual {
  color: #fff;
  padding-left: 80px;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

@mixin title {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
}

@mixin sub {
  font-size: 24px;
  font-weight: bold;
}

@mixin image {
  background-position: center;
  background-size: cover;
}

@mixin midle {
  color: #fff;
  line-height: 1.77778;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

@mixin flex {
  display: flex;
  justify-content: space-around;  
}

@mixin subtitle {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
  color: #3CCACE;
  font-weight: bold;
}

@mixin lists-image {
  width: 280px;
  margin-left: 25px;
}

// // 購入確認画面で使用
@mixin confimation-form {
  padding: 32px 0;
  border-top: 1px solid #f5f5f5;
}
@mixin confimation-link {
  font-size: 14px;
  color: #0099e8;  
}