%footer
  .app-banner
    %h2.app-banner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.app-banner__subtitle 今すぐ無料ダウンロード！

  %ul.footer-contents
    %li.contents
      %h2.contents-footer FURIMAについて
      =link_to "会社概要(運営会社)","#",class: "contents--infomation"
      =link_to "プライバシーポリシー","#",class: "contents--infomation"
      =link_to "FURIMA利用規約","#",class: "contents--infomation"
      =link_to "ポイントに関する特約","#",class: "contents--infomation"
    %li.contents
      %h2.contents-footer FURIMAを見る
      =link_to "カテゴリー一覧","#",class: "contents--infomation"
      =link_to "ブランド一覧","#",class: "contents--infomation"
      =image_tag "/assets/logo-white.png",class: "footer-image"
    %li.contents
      %h2.contents-footer ヘルプ&ガイド
      =link_to "FURIMAガイド","#",class: "contents--infomation"
      =link_to "FURIMAロゴ利用のガイドライン","#",class: "contents--infomation"
      =link_to "お知らせ","#",class: "contents--infomation"

