%header
  .header-content
    .header-main
      =image_tag "logo.png",class: "header-main__image"
      .heaer-main__search
        %input{type: "text_field",class: "header-main__search--field",placeholder: "キーワードから探す"}
        =link_to "#",class: "header-main__search--btn" do
          =icon("fas fa-search", class: "icon")
    
    .header-nav
      %ul
        %li.header-nav-left
          カテゴリー
        %li.header-nav-left
          ブランド     
      %ul
        %li.header-nav-right
          =link_to "ログイン","#",class: "header-nav-right__btn"
        %li.header-nav-right
          =link_to "新規会員登録","#",class: "header-nav-right__btn"

